{% extends 'nav.html' %}
{% load static %}

{% block content %}

<main class="main">

  <div class="preview">
    <section class="preview__item">
      <div class="preview__title">
        <h2 class="preview__h2">Travello Perú</h2>
      </div>
      <div class="preview__content">
        <img src="{% static 'img/paisajes.png' %}" alt="paisaje">
        <p class="preview__p">Perú donde existe un país legendario que posee: fastuosos centros arqueológicos, mágicos sitios naturales y paisajísticos, majestuosos templos precolombinos y coloniales, ancestrales palacios pre-incas e incas, extraordinarios conventos y casonas coloniales, excelentes aguas termo-medicinales, pueblos tradicionales, milenaria cultura, exquisita gastronomía, fina textilería, variada artesanía… y la más grande cultura viva de América.

          Y por si lo anterior fu poco, este mítico país también posee el más grande legado histórico – cultural del Mundo: historia, cultura, gastronomía, aventura, tradición, naturaleza y biodiversidad. Descubre estos lugares.</p>
      </div>
    </section>
  </div>

  <div class="sights">
    <h2 class="sights__h2">Viajes Nacionales</h2>
    <ul class="sights__list">
      {% for destination in destinations %}
      <li class="sights__item">
        <h3 class="sights__h3">{{destination.name}}</h3>
        <div class="sights__img-container">
          {% if destination.offer %}
          <div class="sights__offer">OFERTA</div>
          {% endif %}
          <img class="sights__img" src="{{destination.img.url}}" alt="paisaje">
        </div>
        <p class="sights__p">price: {{destination.price}}.00$</p>
        <a class="sights__a" href="/destination/{{destination.id}}">VER</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</main>

{% endblock %}