{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

  <title>Paisajes</title>
</head>
<body>
  
  <header class="header">
    <img class="header__img" src="{% static 'img/logo.png' %}" alt="Icono de la pagina">
    <nav class="nav">
      <a class="nav__a" href="/">Inicio</a>

      {% if user.is_authenticated %}
      <p class="nav__a">Bienvenido, {{user.first_name}}</p>
      <a class="nav__a" href="{% url 'logout' %}">Cerrar cesión</a>
      {% else %}
      <a class="nav__a" href="{% url 'register' %}">Registrarse</a>
      <a class="nav__a" href="{% url 'login' %}">Iniciar Sesión</a>
      {% endif %}

    </nav>
  </header>

  {% block content %}

  {% endblock %}

  <footer class="footer">
    <p class="footer__p">Alejandro Josue Phocco Tapia</p>
  </footer>

</body>
</html>